h1 {
  font-size: 24px;
  color: black;
}

p {
  font-size: 16px;
  color: blue;
}

figure {
  display: flex;
  margin: 15px;
  vertical-align: top;
}

figure img {
  width: 100%;
  max-width: 600px;
  height: auto;
}
